@media screen and (min-width:1000px){
    body{
        text-align: center;
    }
    #div1{
        padding-bottom: 100px;
    }
    #image{
        width: 300px;
    }
}

@media screen and (min-width:480px) {
    body{
        width: 100%;
    }
    #div2{
        display: inline-flex;
        justify-content: center;
    }
    #image{
        width: 80%;
    }
}

.swal-title {
    font-size: 16px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
    margin-bottom: 28px;
}
.button {
    background-color: coral;
}
/*モーダル*/
.swal-modal {
    width: 50vw;
    height: 20vh;
}
/*モーダルのボタンの部分*/
.swal-footer {
    text-align: center;
}
/*ボタンの文字？*/
.swal-button-container {
    margin: 0 20px;
}
/*ボタン*/
.swal-button{
    border-radius:20px;
}
